.container {
  padding-top: 4em;
}


.start-btn {
  font-size: var(--font-size-l);
  padding: 0.2em 1.1em;
  margin-top: 1em;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--blue-100);
  background-color: #0b3a74cb;
  border-radius: var(--border-radius-s);
  box-shadow: 0 10px 30px rgba(58, 146, 204, 0.4);
  letter-spacing: 0.1em;
}

.video {
  width: 95%;
  max-width: 600px;
  aspect-ratio: 16 / 9;
  border-radius: var(--border-radius-m);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
